body
{	margin-left: 2%;
	color: white;
	background-image: url("BDD_images/fond_montagne.jpg") ;
	background-attachment: fixed;
}

.en_tete
{
	border-bottom: 3px black;
	border-radius: 50px / 30px;
	box-shadow: 6px /*décalage horizontal*/ 6px /*Décalage vertical*/ 12px /*Adoucicement*/ black;
	padding-bottom: 10px;
	padding-top: 10px;
}
.logo_y
{
	position: absolute;
	top: 10px;
	right: 20px;
}

p:hover
{
	border-left: 3px inset ;
}
p
{
	text-align: right;
}

a:hover
{
	color: springgreen;
	text-decoration: underline;
	border-left: 3px inset transparent;
}

a
{
	font-style: italic;
	text-decoration: none;
	color: white;
}



h2
{
	font-weight: bold;
	color: navajowhite;
}

h3
{
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;

}

.sommaire
{
	text-align: center;

}

p+em 
{
	color: lightgrey;
	font-style: italic;
}


.signature
{
	float: right;
	box-shadow: 6px 4px 12px black;
}

.dessous_signature
{
	clear: both;
}


h1,h1+p
{ 
	text-align: center;
	color: black;
	font-weight: bold;
	opacity: 0.8;
	text-shadow: 2px 2px 3px white;
}

section
{
	width: 600px;
	overflow: auto;

}

footer
{
	position: absolute;

	width: 90%;
	border: 2px;
	border-radius: 12px / 8px;
	margin-top: 30%;

}

header
{	
	width: 50%;
	margin: auto;
}

article
{
	border: 2px outset black;
	border-radius: 0 10px 10px 0px;
	box-shadow: 2px 2px 12px black;
	padding: 10px;
	max-height: 150px;
	overflow: auto;
}

nav
{
	margin-top: 20px;
	text-align: center;
}

.partie_css
{	
	position: absolute;
	top: 580px;
	right: 50px;


}